<a href="https://colab.research.google.com/github/DaniRodri17/rodri/blob/main/demographic_data_analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [88]:
import pandas as pd
import numpy as np

In [89]:
df = pd.read_csv('adult_data.csv')
df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [90]:
#1

df['race'].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [91]:
#2

df[['sex', 'age']]
df[df.sex == 'Male']['age'].mean()

np.float64(39.43354749885268)

In [92]:
#3

num_of_bar = df[df['education'] == 'Bachelors'].value_counts().sum()
num_of_bar

num_of_bar / df.value_counts().sum() * 100

np.float64(16.44605509658794)

In [93]:
#4

ad_edu = df[(df['education'] == 'Bachelors') |(df['education'] =='Doctorate') | (df['education'] =='Masters')]
g_sal = ad_edu[ad_edu['salary'] ==  '>50K'].value_counts().sum()

g_sal / ad_edu.value_counts().sum() * 100

np.float64(46.535843011613935)

In [94]:
#5

not_ad_edu = df[(df['education'] != 'Bachelors') & (df['education'] != 'Doctorate') & (df['education'] != 'Masters')]
not_ad_sal = not_ad_edu[not_ad_edu['salary'] ==  '>50K'].value_counts().sum()

not_ad_sal / not_ad_edu.value_counts().sum() *100

np.float64(17.3713601914639)

In [95]:
#6
df['hours-per-week'].min()

1

In [96]:
#7

min_hrs = df[df['hours-per-week'] == df['hours-per-week'].min()]
min_hrs_sal = min_hrs[min_hrs['salary'] == '>50K'].value_counts().sum()

min_hrs_sal / min_hrs.value_counts().sum() * 100

np.float64(10.0)

In [97]:
#8

sal_g50 = df[df['salary'] == '>50K']
country = pd.DataFrame(sal_g50['native-country'].value_counts())

tot_num = sal_g50['native-country'].value_counts().sum()
val = country['count'].values

country["Percentage"] = val / tot_num * 100
country.head(3)

                count  Percentage
native-country
United-States    7171   91.455172
?                 146    1.862007
Philippines        61    0.777962

In [98]:
#9

indians = df[df['native-country'] == 'India']
indians_sal = indians[indians['salary'] == '>50K']

pop_ocupation = indians_sal['occupation'].value_counts().iloc[0:5]
pop_ocupation

occupation
Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Name: count, dtype: int64