In [40]:
import numpy as np
np.random.seed(9)

In [41]:
a = np.random.randint(1, 15, 10)
a

array([13,  6,  7,  9, 12,  7, 14,  2,  7,  5])

In [42]:
print('The mean is ', a.mean())
print('The median is ', np.median(a))
print('The standard deviation is ', a.std())
print('The variance is ', a.var())
print('The minimum is ', a.min())
print('The maximum is ', a.max())
print('The sum is ', a.sum())

The mean is  8.2
The median is  7.0
The standard deviation is  3.6000000000000005
The variance is  12.960000000000003
The minimum is  2
The maximum is  14
The sum is  82